* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb34X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Jumbo Tron Elements */
.jumbotron {
	width: 100%;
	height: 63vh;
	background-image: url(./img/wot-masthead-dark.jpg);
	background-size: cover;
	background-position: 49%;
	text-align: center; 

}

.title-container {
	width: 100%;
	margin-top: 20px;

}

.top-title {
	font-family: 'Oswald';
	font-size: 22px;
	line-height: 22px;
	color: #fff;
	font-weight: 500;
}

.big-title {
	font-family: 'Oswald';
	font-size: 76px;
	line-height: 84px;
	color: #fff;
	font-weight: 300;
}

.uline {
	
	
	width: 45px;
	border-top: 9px solid #fff
}

.left {
	float: left;
	margin-left: 46px;
	margin-right: 0;
	margin-top: 5px;
}

.right {
	float: right;
	margin-right: 48px;
	margin-left: 0;
	margin-top: 5px;
}

.org-text {
	color: #ff803a;
}

.grn-text {
	color: #bdd436;
}

.learn-more-txt {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 23px;
	color: #fff;
	font-weight: bold;
}

.btn-learn {
	background-color: #BDD436;
	width: 90%;
	height: 45px;
	border-radius: 50px;
	margin: 40px auto;
	padding: 10px;
}

.dash-title {
	font-family: 'Oswald';
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;

}

.nav-bar {
	height: 12vh;
	width: 100%;
	background-color: #fff;
}

.nav-image {
	height: 45%;
	float: left;
	margin: 20px 0px 20px 30px;
}

.collapse-menu-img {

	background-image: url(./img/drag.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	margin: 20px 30px 20px 0;
	height: 0;
	width: 20px;
	padding-bottom: calc(10% * 3 / 4);
}

.main-content {
	text-align: center;
	font-family: 'Open Sans';
	color: #6a787c;
	font-size: 24px;
	line-height: 36px;
	padding: 14px 20px;
	background-color: #F0F0F0;
}

.works-sprite-img {
	background: url(./img/sprite_home.png) -4px -100px;
	width: 110px;
	height: 100px;
	margin: auto;
	border: none;
}

.blast-title {
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 42px;
	line-height: 46px;
	color: #6a787c;
	margin: 10px auto 60px auto;
	
}

.word-effect-grn {
	color: #bdd436;
	font-family: 'Oswald';
	font-weight: 700;

}

.more-info-content {
	background-color: #fff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 25px;
	color: #97a2a7;
	margin: 0;
	padding: 70px 30px 30px 0;
}

.ideas-sprite-img {
	background: url(./img/sprite_home.png) -300px -100px;
	width: 132px;
	height: 130px;
	border: none;
	margin: auto;

}

.ideas-text {
	margin-top: 70px;
	margin-bottom: 40px;
}

.info-links {
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 20px;

}

.info-links > a:link, a:visited {
	color: #bdd436;
}

.info-links > a:hover {
	color: #97a2a7;
}

.arrow-sprite-img {
	background: url(./img/sprite_home.png) -545px -280px;
	width: 50px;
	height: 50px;
	border: none;
	margin: 10px auto 20px auto;
}

.info-container-2 {
	margin: 90px 32px 50px 30px;
}

.info-container-3 {
	margin: 120px 60px 50px 60px;
}

.path-sprite-img {
	background: url(./img/sprite_home.png) -737px -101px;
	width: 83px;
	height: 111px;
	border: none;
	margin: auto;
}

.power-sprite-img {
	background: url(./img/sprite_home.png) -630px -110px;
	width: 100px;
	height: 111px;
	border: none;
	margin: auto;
}

.help-container {
	background-color: #F0F0F0;
	text-align: center;
	width: 100%;
	padding: 20px;
}

.section-header-content {
	padding-top: 15px;
	padding-bottom: 30px;
}

.help-content {
	background-color: #fff;
	padding: 10px 25px;
	width: 95%;
	margin: 15px auto;
}

.help-blast-title {
	font-family: "Oswald";
	font-weight: 300;
	font-size: 42px;
	line-height: 46px;
	margin: 0;
}

.help-head-text {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 500;
	margin: 10px 0;
}

.help-txt-bold-blue {
	color: #40666d;
}

.help-txt-regular-grey {
	color: #858585;
}

.help-content-strong-txt {
	font-family: "Open Sans";
	font-size: 24px;
	line-height: 25px;
	font-weight: 500;	
}

.help-content-regular-txt {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
}

.btn-contact {
	background-color: #BDD436;
	width: 100%;
	height: 45px;
	border-radius: 50px;
	margin: 75px auto 36px auto;
	padding-top: 2.5%;
}

.contact-us-txt {
	font-family: 'Lato', Sans-serif;
	font-size: 16px;
	line-height: 23px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.client-container {
	text-align: center;
	background-color: #fff;
}

.client-header {
	font-family: "Oswald";
	font-size: 42px;
	line-height: 46px;
	color: #6a787c;
	font-weight: 300;
	text-align: center;
}

.client-one {
	width: 100%;
	height: 275px;
	background-image: url('./img/CI-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.client-two {
	width: 100%;
	height: 275px;
	background-image: url('./img/AM-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.client-three {
	width: 100%;
	height: 275px;
	background-image: url('./img/VG-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.client-four {
	width: 100%;
	height: 275px;
	background-image: url('./img/NCMA-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.client-five {
	width: 100%;
	height: 275px;
	background-image: url('./img/KF-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.client-six {
	width: 100%;
	height: 275px;
	background-image: url('./img/TS-portfolio.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hover-img, .hover-text {
	visibility: hidden;
}

.email-container {
	height: 340px;
	background-color: #6a787c;
	text-align: center;
	color: #fff;
	padding: 37px 45px 0 45px;
}

.em-heading-text {
	font-family: 'Lato';
	font-size: 30px;
	line-height: 33px;
	font-weight: 500;
	margin-bottom: 20px;
}

.border-dash-grn {
	border-top: 8px solid #BDD436;
	width: 90px;
	margin: 0 auto;

}

.email-content-txt {
	font-family: 'Lato';
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 45px;
}

.email-btn {
	width: 48%;
	height: 50px;
	background-color: #BDD436;
	border-radius: 50px;
	color: #fff;
	font-family: 'Lato';
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	margin: auto;
	padding-top: 12px;
}

.copyright-container {
	background-color: #EEEEEE;
	width: 100%;
	height: 65px;
	font-family: 'Open Sans';
	font-size: 12px;
	line-height: 25px;
	color: #6a787c;
	font-weight: 500;
	text-align: center;
	margin: 0;
	padding-top: 22px;
}

.copyright-container > p {
	margin: 0;
}

.copyright-span {

	color: #BDD436;
}

@media (min-width: 1024px) {
	.nav-bar {
		background-color: transparent;
	}

	.collapse-menu-img {
		display: none;
	}
}